* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #c9cfdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 250px;
  background: #c9cfdb;
  border-radius: 10px;
  box-shadow: 8px 8px 16px #a0a7b5, -8px -8px 16px #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  background: #cbd1dd;
  height: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 12px;
  box-shadow: 8px 8px 16px #a0a7b5, -8px -8px 16px #ffffff;
}

button {
  position: relative;
  height: 30px;
  width: 40%;
  border-radius: 15px;
  border: none;
  outline: none;
  background: #cbd1dd;
  box-shadow: 6px 6px 12px #a0a7b5, -6px -6px 12px #ffffff;
  cursor: pointer;
}

button:active {
  box-shadow: inset 6px 6px 12px #a0a7b5, -6px -6px 12px #ffffff;
}
