* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: rgb(204, 247, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    background-color: #d1edfb;
}

.login-box {
  height: 280px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 12px rgba(97, 97, 97, 0.4),
    -8px -8px 15px rgba(192, 229, 255, 0.9);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.textbox {
  display: flex;
  justify-content: center;
}

input {
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(137, 214, 253);
  background-color: transparent;
  box-shadow: 2px 2px 12px rgba(96, 151, 209, 0.441),
    -3px -3px 10px rgb(26, 163, 163, 0.2);
  padding-left: 15px;
}

button {
  position: relative;
  height: 30px;
  width: 40%;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3),
    -3px -3px 12px rgba(192, 229, 255, 0.9);
    cursor: pointer;
}
