* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #113131d8, #022233);
  padding: 15px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: aliceblue;
}
